.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 1.5rem;
    border: 1px solid #dedede;
    padding: 10px 20px;
}

.tarea p {
    width: 95%;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarea:nth-child(odd) {
    background: #f5f5f5;
}

.tarea:hover .btn-eliminar {
    display: block;
}

.btn-eliminar {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: red;
    font-size: 1rem;
    display: none;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

.btn-eliminar:hover {
    opacity: 1;
    background: red;
    color: white;
}
