input {
    color: grey;
    width: 95%;
    margin: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 1.5rem;
}

input::placeholder {
    color: #dedede;
}
