* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: #e8dadb;
    font-family: Helvetica, sans-serif;
}

.container h1 {
    font-size: 6rem;
}

.container .todos {
    max-width: 700px;
    min-width: 400px;
    width: 100%;
    height: auto;
    background: white;
    margin: 0 auto;
    border: 1px solid grey;
    position: relative;
}

.container .todos::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    overflow: hidden;
    box-shadow:
        0 1px 1px grey,
        0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px grey,
        0 16px 0 -6px #f6f6f6,
        0 17px 2px -6px grey;
}
